* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: #222;
    color: white;
}

header {
    padding: 20px 35px;
    background-color: #222;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

  }

header h1 {
      font-weight: bold;
      font-size: 36px;
      color: #fff;
      margin: 0;
      padding: 10px;
    
  }


header a {
    color: #fff;
    text-decoration: none; /* removes link underlines*/
}

header nav {
     
    margin: 7px 0;
}

header nav ul { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }



header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
  }



  /* below section is the styling for the Hero/Jumbotron image and cool subtitle wrapped in a box bottom right aligned */

.hero {
    display: flex;
    position: relative;
    background-image: url("./images/dark-header.jpg");
    background-size: cover; /* Makes the image not cut off, uses full size image to cover page*/
    background-position: center;
    justify-content: center;
    height: 15vw;

}

.subtitle {
    position: absolute;
    right: 75px;
    bottom: 35px;
    color: #fff;
    background-color: darkgray;
    padding: 20px;
}

.flex-row {
    
     display: flex;
       
}

.intro {
    margin-top: 2rem;
}

.intro p {
    padding: 10px 15px;
    color: #fff;
    
}

/*label/titles for the content */
.section-title {
    display: flex;
    font-size: 32px;
    border-right: 3px solid white;
    color: #fff;
    justify-content: right;
    margin-bottom: 15px;
    min-width: 350px;
    max-width: 350px;
    padding-right: 15px;

}

.footer ul li {
    list-style: none;
    color: #fff;
}

.footer ul li a {
    text-decoration: none;
    color: #fff;
}

.flex-row ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.footer ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 18px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }











@media screen and (max-width: 1000px) {

    .section-title {
        display: flex;
        font-size: 32px;
        border-right: 3px solid white;
        color: #fff;
        align-items: top;
        text-align: right;
        margin-bottom: 15px;
        min-width: 250px;
        max-width: 250px;
        padding-right: 15px;
    
    }
    
}

@media screen and (max-width: 600px) {

    .section-title {
        display: flex;
        font-size: 32px;
        border-right: 3px solid white;
        color: #fff;
        align-items: top;
        text-align: right;
        margin-bottom: 15px;
        min-width: 175px;
        max-width: 175px;
        padding-right: 15px;
    
    }
    
}













